$wrong: #787c7e;
$correct: #6aaa64;
$position: #c9b458;

.letter {
	text-align: center;
	vertical-align: middle;
	color: black;
	background-color: white;
	border: 1px solid black;
	height: 6vmin;
	width: 6vmin;
	font-size: 4vmin;
	vertical-align: middle;
}

.correct {
	color: white;
	background-color: $correct;
	border: 1px solid $correct;
}

.position {
	color: white;
	border: 1px solid $position;
	background-color: $position;
}

.wrong {
	color: white;
	background-color: $wrong;
	border: 1px solid $wrong;
}
